@model BlogProject_MaryLouiseAnhanceAbrena.Models.Teacher
@{
    ViewBag.Title = "DeleteConfirm";
}

<nav>
    <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Cancel</a>
</nav>
<h2>Are you sure you want to delete @Model.TeacherFname @Model.TeacherLname?</h2>
<p>This action cannot be undone</p>
<form method="POST" action="/Teacher/Delete/@Model.TeacherId" style="width:50%">
    <button style="float:right; color:darkred; background: red;"> Confirm Delete</button>
</form>

