@model IEnumerable<BlogProject_MaryLouiseAnhanceAbrena.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<nav>
    <a class="navlink" href="/Teacher/New">Add New Teacher</a>
</nav>
<p>This page should be showing information about all Teachers</p>
<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search"/>
</form>


@foreach (var teacher in Model)
            {
    <div>
        <a href="/Teacher/Show/@teacher.TeacherId">
          @teacher.TeacherFname @teacher.TeacherLname
        </a>
    </div>
            }

